[2014-05-13 14:37] pblittle opened #2 "Upgrade logstash to 1.4.x"
We need to bump the base logstash install to the latest release. Currently 1.4.1.

[2014-08-18 20:59] pblittle opened #3 "Add contribution and license details to readme"
Added contribution instructions and Apache 2.0 license to the readme.

[2014-08-21 09:17] mihai-satmarean opened #5 "not receiving logs from other systems"
Hi, we really like your implementation and we are trying to use it for our little project.

The main concept would be to have an docker definition that would build a Graphing, Monitoring and Logging machine.
| Mysql <=|=> Observium <=|=> Logstash <=|=> Elastic search <=|=> Kibana |
|                                              os Linux (Centos 6)                                          |
|------

[2014-08-30 19:21] #5 closed, assigned to pblittle

[2014-08-30 19:29] #2 closed, assigned to pblittle

[2014-08-30 19:29] #3 closed, assigned to pblittle

[2014-09-05 15:36] hamiltont opened #14 "Embedded elasticsearch binds to host IP, not container IP"
My docker host IP is `10.0.0.2`, and the embedded elasticsearch seems to bind to this address by default.

Inside the container you cannot connect to the host without adding additional routes, which means the web interface shows this error:

[code]

Any ideas on how to get the embedded elasticsearch to bind to `0.0.0.0` or `127.0.0.1`? I changed both the `bind_host` and `host` but they don't seem

[2014-09-05 17:08] #14 closed, assigned to pblittle

[2014-09-05 17:44] hamiltont opened #15 "Don't download LOGSTASH_CONFIG_FILE if one is provided"
Could be done by changing this:

[code]

[code]

[2014-09-05 22:34] hourback opened #17 "Pointing to a linked Elasticsearch container doesn't work"
I'm using the [docker-logstash](https://registry.hub.docker.com/u/pblittle/docker-logstash/) image from Docker Registry instead of building from source.  The host is [boot2docker](http://boot2docker.io/) on Windows 7.  I'm trying to use a linked Elasticsearch container based on the [barnybug/elasticsearch:1.1.1](https://github.com/barnybug/dockerfiles/tree/elasticsearch-1.1.1/) image from Docker R

[2014-09-09 18:31] #15 closed, assigned to pblittle

[2014-09-29 02:39] #17 closed, assigned to pblittle

[2014-09-29 19:22] cultofmetatron opened #27 "trying to mount volumes from the filesystem for running into logstash"
hi, I'm currently trying to mount a volume from the host system in the dockerfile.

I'm running it like such

[code]

Then I also modified the config file to point to this gist
https://gist.githubusercontent.com/cultofmetatron/7e0a82f97c2887fc930e/raw/1bebdf0921683b4624c79f1c42fa7b67082d1678/logstash.conf

[code]

Currently I'm then echoing to the test.log in /var/log/postgresql/ and logstash is n

[2014-09-29 21:39] cultofmetatron opened #28 "how do I mount the embedded elastic search volume in the host system?"
I want to be able to persist the container and store backups of the data. Where does loggerstass's embedded elastic search store the data so that I can either copy it for backups?

[2014-10-16 23:04] benswift opened #30 "outdated (embedded) elasticsearch"
Running logstash with the embedded elasticsearch, I get this message in red up the top of my Kibana page.

`Upgrade Required Your version of Elasticsearch is too old. Kibana requires Elasticsearch 0.90.9 or above.`

Any plans to update this, or will it break other things?

[2014-10-17 01:16] #27 closed, assigned to pblittle

[2014-10-17 01:17] #28 closed, assigned to pblittle

[2014-10-17 02:45] #30 closed, assigned to pblittle

[2014-10-22 20:50] abourget opened #31 "What are the volumes in there ?"
Nowhere does it say where I can mount a data volume for elasticsearch with `docker run -v`.

Digging around, I found out elasticsearch put its stuff in `/data` .. but is that enough ?

thanks :)

[2014-11-29 03:02] pblittle opened #37 "Do not allow outside access to Elasticsearch"
To increase container security, we need to close outside access to ports `9200` and `9300`. This change is following the Elasticsearch [scripting and security](http://www.elasticsearch.org/blog/scripting-security/) documentation.

@khebbie, thanks for [the heads up](https://registry.hub.docker.com/u/pblittle/docker-logstash/).

[2014-11-29 05:21] #37 closed, assigned to pblittle

[2015-01-28 09:10] ofir-rounds opened #43 "No logstash ports exposed?"
Shouldn't we be exposing ports 3333 and 3334 if this is a logstash server image?

        tcp { port => 3333 type => "text event"}
        tcp { port => 3334 type => "json event" codec => json_lines {}
-- http://fruch.github.io/blog/2014/10/30/ELK-is-fun/

[2015-01-28 09:10] ofir-rounds commented on #43
Official docs also give example on port 3333
http://logstash.net/docs/1.4.2/tutorials/10-minute-walkthrough/

[2015-02-04 15:20] pblittle commented on #43
@ofir-rounds sorry I'm just now getting back to you. The omission of the ports you noted was intentional. Everyone has different requirements. In your case, if I open `3333` or `3334` it might break someone else's security policy.

I think your best best is to either create a new `Dockerfile` and pull this project in using `FROM pblittle/docker-logstash` or just add the ports using the `-p` flag w

[2015-02-04 15:25] pblittle commented on #31
@abourget I'm not sure how I overlooked this question. Were you able to figure this out?

[2015-02-04 15:32] pblittle opened #48 "Proposal: Optionally install plugins rather than default to installing all"
As it stands today, all plugins are installed when the `Dockerfile` is built. [1] Is this the preferred action to take when building a new image? Or should this be configurable and installed (or not) at runtime?

Additionally, would it make sense to be able to pass in an array of plugins to install rather than all of this. Moving the plugin installation would help reduce the `Dockerfile` size.

[1

[2015-02-04 15:49] pblittle opened #49 "Proposal: Allow additional methods of downloading config files"
Currently, this image only supports downloading a single configuration file using `wget`. This is very limiting. A more flexible approach is to start by using `curl` rather than `wget`. From there add support for `*.tar`, `*.war`, `*.git`, an individual `file` on the internet, and a `file` or `directory` on the local file system.

Something like the following (untested) functions should get us clo

[2015-02-04 15:59] pblittle opened #50 "Proposal: Add support for Logstash 1.5"
Logstash `1.5` is coming soon. We should be prepared and ready to support the new version. To move the project in that direction, I have moved the original `1.4.2` files into a `1.4` directory. [1].

Adding support for `1.5` should only require creating a new `1.5` folder on the project root and dropping the updated build files in.

The next step will be figuring out how to deal with multiple vers

[2015-02-04 16:43] ofir-rounds commented on #43
Hi @pblittle,

I am still kinda new to logstash, I was looking for the default input ports and assumed these are it.

I was trying to understand it all by reading your docker file, it's like:
Kinbana - 9292
Internal Elastic Search - 9200 (won't use)
Input to logstash - ????
So if no default way to input data to logstash?

You seemed to have the most detailed README with the "logstash" docker image

[2015-02-04 16:43] #43 closed

[2015-02-04 18:09] pblittle commented on #43
@ofir-rounds, have you considered using [logstash-forwarder](http://logstash.net/docs/1.4.2/inputs/lumberjack)? Or maybe just Syslog over UDP?

[2015-02-05 09:11] ofir-rounds commented on #43
We are using that logstash-forwarder.

[2015-02-05 20:24] pblittle commented on #43
@ofir-rounds, that's cool. So you should be good with `EXPOSE 5043`, right?

Also, this isn't documented, but you can easily pass your keys into the container [1] by setting the `LF_SSL_CERT_KEY_URL` and `LF_SSL_CERT_URL` env vars.

[1] https://github.com/pblittle/docker-logstash/blob/develop/1.4/base/logstash-forwarder.sh

[2015-02-07 17:00] naftalivanderloon opened #51 "exploit in embedded version of elasticsearch"
hi, thx for this docker. Please note that the current version of logstash uses version 1.1.1 of elasticsearch.
It has dynamic scripting enabled by default, which caused my docker instance to be hacked and used as Ddos attacker..
http://www.cve.mitre.org/cgi-bin/cvename.cgi?name=2014-3120
http://bouk.co/blog/elasticsearch-rce/
could you upgrade to 1.5? I know it's beta, but still..

[2015-02-09 20:55] pblittle commented on #51
@naftalivanderloon I have a [patch](https://github.com/pblittle/docker-logstash/blob/develop/1.4/base/elasticsearch.sh#L42) in the `develop` branch that sets `script.disable_dynamic: true`. I'm going to merge it into `master` this afternoon.

Regarding `1.5` support. It's coming in the next month or so.

[2015-02-10 09:36] gionn opened #53 "A tag for every release"
Hi,

adding a tag when the image should be considered 'safe' would be helpful, I see that there aren't any tag from the 0.10.0 release of the end of november.

Thanks!

[2015-02-10 19:10] pblittle commented on #51
@naftalivanderloon `master

[2015-02-10 19:12] #51 closed

[2015-02-10 19:24] pblittle commented on #53
@gionn all of the stable releases are tagged. `0.10.0` was the last release before `0.11.0`, which shipped this afternoon.

Also, `master` always represents the most recent stable release. All new features are merged into the `develop` branch and tested before they are merged into `master, tagged, and released.

The [DockerHub project](https://registry.hub.docker.com/u/pblittle/docker-logstash) fo

[2015-02-10 21:20] pblittle commented on #31
Closing due to inactivity. @abourget please reopen if I can do anything to help.

[2015-02-10 21:20] #31 closed

[2015-02-13 20:01] jwalton opened #55 "sed: -e expression #4, char 16: unknown option to `s'"
When I try to run with 0.11.0, I get:

[code]

[2015-02-13 20:47] cboettig opened #56 "Elasticsearch version too old for kibana?"
Thanks for providing a great dockerized version of these services, it's been super helpful.

Elasticsearch and logstash are working just fine, but Kibana does not seem to be working for me.  When I go to http://<server-ip>:9292 I get the error

[code]

Which is particularly surprising given that your documentation says it provides Kibana `1.1.1`. Not quite sure what is happening.  It seems that th

[2015-02-13 21:05] cboettig commented on #56
Okay, it appears this was just caused by me not setting ES_HOST appropriately, my apologies for the trouble and thanks again.

[2015-02-13 21:18] pblittle commented on #55
@jwalton, first off, your blog post was great. It's cool to see how you're using the image. I had planned on sending you a PR with a small tweak to your `run` command.

Starting with version `0.11.0`, config files are now stored in `/opt/logstash/conf.d`. This change will allow you to load a directory of config files rather than being tied to `/opt/logstash/logstash.conf`. I did my best to [commun

[2015-02-13 21:21] jwalton commented on #55
Thanks!  I'll be sure to update my blog post with your new config file stuff.  :)

We're using your docker-logstash in production right now to collect logs from all our servers (along with a custom [stream for bunyan](https://github.com/benbria/node-bunyan-lumberjack)) so thanks very much for building this awesome docker image in the first place.  :)

[2015-02-13 21:23] pblittle commented on #56
@cboettig, good deal. I was about to take a look at this issue. Please let me know if anything else comes up.

[2015-02-13 21:24] pblittle commented on #53
Closing due to inactivity. @gionn please reopen if I can do anything to help.

[2015-02-13 21:24] #53 closed

[2015-02-13 21:30] pblittle commented on #55
@jwalton, wow, that's really cool. Thanks for letting me know. I hope I didn't bring your Production cluster down. :)

If you have a minute, do you mind taking a look at my proposed enhancement in issue #49? I'd love to hear your thoughts on the new approach.

[2015-02-14 01:09] cboettig commented on #56
@pblittle Thanks.

I was able to work around this by doing a `docker exec` into the container and manually setting the server in `/opt/logstash/vendor/kibana/config.js`, but I wasn't able to get this to set itself correctly automatically even when setting `host` explicitly in the config: https://github.com/ropensci/fishbaseapi/blob/86d5f3111ee42f3d2f808546698d39c5d7265459/logstash.conf.

Leaving t

[2015-02-17 04:37] cboettig opened #57 "control which services are started by the default CMD?"
The currently documented configurations in  the README all seem to bring `kibana` up along with logstash and elasticsearch service.  It would be excellent to have some way of disabling `kibana` in particular on startup, as it seems to have a much higher memory footprint when the container is running, and may not always be needed.   (though I may be diagnosing this incorrectly, `top` just attribute

[2015-02-17 04:42] cboettig commented on #48
It seems to me that the [Docker way](https://github.com/docker-library/official-images) of doing this would be to simply provide alternate Dockerfiles (e.g. in subdirectories) that build configurations without all the plugins, and differentiate between these images with tags.  Then a user could run something like `docker run pblittle/docker-logstash:L1.4-E1.1` for logstash and elasticsearch withou

[2015-02-17 05:00] pblittle commented on #48
@cboettig, I totally agree. I am going to move to optimizing the images as soon as I ship issues #55 and #49. I am testing my fix for #55 right now.

I still need to create a new issue for the changes we're talking about. I'm planning on creating an `onbuild` directory and image and refactoring the image in `base`. The most common request I get in here is adding/removing `EXPOSE` statements. Next

[2015-02-17 05:02] pblittle commented on #57
@cboettig are you suggesting I simply swap `ENTRYPOINT` out for `CMD` in the `Dockerfile`? That is on my todo list for the next release, `0.12.0`.

[2015-02-17 05:13] cboettig commented on #57
Yup, that would do it, thanks

On Mon, Feb 16, 2015, 9:02 PM P. Barrett Little <notifications@github.com>
wrote:

[2015-02-17 05:16] pblittle commented on #57
Mind hooking me up with a PR off of the `develop` branch? :smile:

[2015-02-17 05:57] pblittle commented on #55
@jwalton do you mind testing the #58 hotfix against your configs?

[2015-02-17 14:40] #55 closed

[2015-02-17 15:30] jwalton commented on #55
No, you didn't bring down our production machine, just a vagrant VM.  :)  You did convince me I should explicitly declare the tag of all my dependencies though.

I'll have a look at #58 when I get a moment.

[2015-02-17 16:23] pblittle commented on #56
@cboettig are we good now?

[2015-02-17 17:32] cboettig commented on #56
I'm still stuck setting the kibana host manually with a `docker exec`.  It would be great if that could be done with an environmental variable at runtime instead...

[2015-02-17 18:01] pblittle commented on #56
@cboettig did you try setting the `ES_HOST`[1] env var with `ES_HOST` in your config file? That should allow you to write you Elasticsearch host to both `logstash.conf` [2] and `config.js` [3][4].

[1] https://github.com/pblittle/docker-logstash/blob/master/1.4/base/elasticsearch.sh#L11-L16
[2] https://github.com/pblittle/docker-logstash/blob/master/1.4/base/bin/boot#L53-L70
[3] https://github.com

[2015-02-17 19:13] cboettig commented on #56
Ah, hadn't tried running with `-e ES_HOST` before, that should have been obvious.  For some reason though, that seems to cause my container to simply crash, eg:

[code]

and then the logs show:

[code]

[2015-02-17 22:38] pblittle commented on #56
@cboettig I see two small issues; one in your `run` command and one in your config:

In your `run` command, `ES_HOST` should be `server.carlboettiger.info`. You shouldn't include the protocol, `http://`. The FQDN will be built using the `host`, `port`, and `schema` attributes.

In your `logstash.conf`, `protocol ` should be set to a real protocol rather than `ES_PROTOCOL`. The `protocol` attribute

[2015-02-17 22:48] cboettig commented on #56
Thanks for the help debugging, that gets me farther but the container still crashes when I set `ES_HOST` env var.

Here's the whole log in case it's helpful:

[code]

[2015-02-18 00:48] pblittle commented on #56
@cboettig the only thing that strikes me as odd is that you are mounting `/root` and writing logs to it. Your  config works fine on my end when I don't mount `/root`. Maybe you should mount and write to `/var/log/` instead?

[2015-02-18 09:43] systemfreund opened #59 "ES_PORT placeholder is replaced with invalid value"
I'm using ES_HOST and ES_PORT in my logstash.conf, but the latter placeholder gets replaced by the value below when I start the container:

    elasticsearch {
        host => "172.17.0.17"
        port => "tcp://172.17.0.17:9200"
        protocol => "http"
    }

[2015-02-18 10:07] systemfreund commented on #59
root@104c28ef7bec:/# env
    HOSTNAME=104c28ef7bec
   TERM=xterm
    ES_PORT_9300_TCP=tcp://172.17.0.8:9300
ES_ENV_CA_CERTIFICATES_JAVA_VERSION=20140324
ES_PORT_9300_TCP_PORT=9300
ES_PORT_9200_TCP=tcp://172.17.0.8:9200
ES_PORT_9300_TCP_PROTO=tcp
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ES_ENV_JAVA_VERSION=8u40~b22
PWD=/
ES_ENV_ELASTICSEARCH_VERSION=1.4.3
ES_PORT_9200_TCP_P

[2015-02-18 13:00] systemfreund commented on #59
According to https://docs.docker.com/userguide/dockerlinks/#environment-variables `ES_PORT` will always have a format like `y://x.x.x.x:zzzz`. Can't we just use the value of `ES_PORT_9200_TCP_PORT` like you do in elasticsearch.sh without overriding it when `ES_PORT` is set (which is always true, when linking is used)

[2015-02-19 01:47] pblittle commented on #59
@systemfreund when a port env var is returned in the format you noted, `tcp://172.17.0.17:9200`, it is usually because the container link wasn't created. Do you mind verifying that the link was created?

[2015-02-19 08:41] systemfreund commented on #59
Are you sure? Because accoring to the documentation the value is as expected:

"Finally, there will be an environment variable called <alias>_PORT that will contain the URL of the first exposed port of the source container. For example, WEBDB_PORT=tcp://172.17.0.82:8080."

[2015-02-19 15:02] bjblazko opened #62 "/opt/logstash/conf.d issues"
Hello,

as noted in the README, I used /opt/logstash.conf via Docker Volume. Now, with release 0.11.x I try to use /opt/logstash/conf.d but the container immediately exits:

    [me@sys]$ docker ps -a
    CONTAINER ID        IMAGE                             COMMAND             CREATED              STATUS                          PORTS               NAMES
    6f80bf7ff9b8        pblittle/docker-lo

[2015-02-19 17:42] pblittle commented on #59
@systemfreund this is really interesting. Thanks for continuing to question my logic. :smile: It turns out that I am setting an `ES_PORT` environment variable also. That is obviously creating a conflict. I didn't know that Docker created an `*_PORT` variable. That variable exists on my end to allow the use of an external Elasticsearch server, rather than embedded or linked.

To fix the issue, I'll

[2015-02-23 19:05] pblittle commented on #59
@systemfreund do you mind giving me the commands you're using to cause this issue? I want to try to reproduce over here.

[2015-02-23 20:47] mikehaertl opened #64 "Elasticsearch data is magically persisted when container is deleted/recreated"
I am pretty confused about where this container stores it's data. I've created a simple test container, imported some data, then completely removed the container, started a new one - and the old data was still there!

Here's the simple `fig.yml` that I've used:

[code]

and the `logstash/logstash.conf` is

[code]

I did a `fig up` which created the container. Then I've stopped the container with `

[2015-02-23 21:10] pblittle commented on #64
@mikehaertl is the accumuled data coming from your mounted `apache.log`?

[code]

If it is, `start_position => beginning` is more than likely the culprit.

[2015-02-23 21:15] pblittle commented on #56
Closing due to inactivity. @cboettig please reopen if I can do anything to help.

[2015-02-23 21:15] #56 closed

[2015-02-23 21:16] mikehaertl commented on #64
Well, I've first started a container without a custom configuration. The default configuration seems to index some log files. So i have about 3000 entries like:

[code]

So i shut down that container, deleted it and tried a fresh new container, this time with my custom config. But the above data is still there - even though it's a completely new container!

I really don't understand this. If i del

[2015-02-23 21:17] pblittle commented on #62
@bjblazko, I planned on getting back to you over the weekend, but I lost track of time. Are you still working through this?

[2015-02-23 21:25] pblittle commented on #64
@mikehaertl do you looking inside of your container and verify the contents of `/opt/logstash/conf.d/logstash/logstash.conf`? I know it's a mounted volume, I just want to make certain we know exactly what the config being used looks like.

[2015-02-23 21:27] mikehaertl commented on #64
I've verified. It is my conf file.

But this really has nothing to do with my local configuration at all. I can leave that away and use your default configuration.

The problem is really: Why is the elasticsearch data not deleted, if I delete the container. How can it persist and where?

[2015-02-23 21:37] pblittle commented on #64
@mikehaertl I'm going to try to reproduce the issue over here. Please let me know if you make any discoveries in the meantime. Crazy...

FYI, I removed `start_position => "beginning"` from the `syslog` file input in the default config. Definitely a PITA.

[2015-02-23 21:51] mikehaertl commented on #64
I've tried with a reboot of my host. No difference: The data is still there and I can't get rid of it.

This is the weirdest thing I've seen with docker so far. Docker must manage volumes in some abstruse way and reuse volumes of deleted containers or something. All this doesn't make sense to me. But maybe I'm just too tired and miss something obvious. So will try again tomorrow.

Thanks for your

[2015-02-23 22:05] pblittle commented on #64
@mikehaertl, what environment are you testing in?

[2015-02-23 22:07] mikehaertl commented on #64
I'm on Linux Mint 17.1 with latest docker 1.5.0.

[2015-02-23 22:14] mikehaertl commented on #64
Ouch:

[code]

Guess what I found in my local `./logs` directory:

[code]

Sorry for the hassle - and thanks for the help. It's really to late over here.

[2015-02-23 22:14] #64 closed

[2015-02-23 22:16] pblittle commented on #64
@mikehaertl all good. Glad to help. Let me know if anything else comes up.

[2015-02-24 19:54] mikehaertl opened #65 "Can not connect to linked ES 1.4.4 container"
As i want to try out Kibana4, i've set up a linked container from the official `elasticasearch` image. Here's the `fig.yml`

[code]

The config in `logstash/logstash.conf` is:

[code]

Note: I had `ES_HOST` and `ES_PORT` there before and it got replaced with the IP address.

When I try to start that setup with `fig up` I get this error:

[code]

The IP address is correct and I can connect to the E

[2015-02-25 02:38] pblittle commented on #65
@mikehaertl do you mind turning tracing on in the `logstash` section of your `fig.yml`?

[code]
From there, please run again and either drop the relevant info either in here or in a gist. I think this issue is similar to what @systemfreund reported in issue #59.

[2015-02-25 08:37] mikehaertl commented on #65
Sure, here's the gist: https://gist.github.com/mikehaertl/954952e09ead26f7baf4

BTW since the config vars `ES_HOST` and `ES_PORT` get overwritten in my local config, I have to reset them to those vars each time i restart the setup (otherwhise it would use the wrong IP as containers get new IPs if they are recreated). Is there a way to avoid that?

[2015-02-25 17:39] pblittle commented on #65
@mikehaertl thanks for the gist. Are you manually setting the `port => "tcp://172.17.0.82:9200"` in your `logstash.conf`? If you are, that should only be a port, `port => "9200"`.

I'm writing some tests now based on your `fig.yml`. I should have them ready at some point today.

[2015-02-26 19:30] cboettig commented on #56
Thanks, this does seem to work with a more sensible mount point; though it's not obvious why.  Thanks again for the help.

[2015-02-26 19:49] pblittle commented on #56
@cboettig that's great. Let me know if anything else comes up.

[2015-02-26 20:08] cboettig commented on #56
Thanks! The only thing I'm struggling with now is probably just my ignorance, but I don't really see why Kibana has to connect to the ElasticSearch client over a publicly exposed network connection.  E.g. I'd like to just set `ES_HOST=localhost` and expose only port `9292` when running the container, so that my ElasticSearch port isn't just exposed for the world to attack.  It seems I can work aro

[2015-02-26 20:20] cboettig opened #66 "Linking volumes for logstash.conf should create a copy of the conf file to edit"
If a user has a logstash.conf file that uses environmental variables like `ES_HOST` and links said file using the pattern recommended in the README:

[code]

then the container replaces the env vars with their true values.  It seems not ideal for a conf file to be changed from the user's settings when the service is run.  Clearly this doesn't happen if using a remote URL for the conf file, but it

[2015-02-26 20:41] pblittle commented on #56
@cboettig if I'm following you correctly, I may have [a branch](https://github.com/pblittle/docker-logstash/compare/master...hotfix/elasticsearch-port-fix) ready to merge in that fixes that problem.

In the new branch, there are separate Elasticsearch `service` and `proxy` settings. Previously Kibana and Elasticsearch both used the same `ES_HOST` and `ES_PORT` env vars.

So, to set the Kibana ES h

[2015-02-26 20:54] pblittle commented on #65
@mikehaertl I think that I have your issue sorted out. The problem was that the `ES_HOST` variable that I was using is also being set by Docker when you have a linked container. That's what @systemfreund's issue #59 found.

In the fix I just made, there are now separate env variables available for the Elasticsearch service:

https://github.com/pblittle/docker-logstash/blob/hotfix/elasticsearch-por

[2015-02-26 21:26] cboettig commented on #56
Hmm, a proxy sounds promising.  I just tried cloning
the hotfix/elasticsearch-port-fix branch and building the dockerfile in
1.4/base, and running it with the default configuration:

`docker run -d -p 9292:9292 logstash`

The container seems to build fine and run with no error log, but I don't
see anything at the kibana URL now (9292).  I must still not be
understanding something about how this is

[2015-02-26 21:40] pblittle commented on #56
@cboettig, good deal. Thanks for testing. You aren't seeing any logs because the default config isn't pulling in old `syslog` messages now. It was a pain and slowed down building the containers.

You can add a record using `curl` to make sure everything is wired up correctly. Something like:

[code]

The entry should show up in Kabana if everything worked correctly.

[2015-02-26 21:56] cboettig commented on #56
Sorry to be dense, but what is `<your_elasticsearch_ip>`?  I thought the whole idea here was that the elasticsearch service was not exposed outside of the container.  In my run command I'm just exporting the kibana port, `-p 9292:9292`.

[2015-02-27 09:19] mikehaertl commented on #65
I'm not at my test machine right now, but only that much: The `ES_*` vars are set because of this setting in the `fig.yml`:

[code]

This was taken from your example for linked containers:

[code]

We could simply remove the `es` alias, if it's not required.

[2015-02-27 12:36] Analect opened #67 "Trying to install logstash-kafka plugin onto container pre support for logstash 1.5 and the bin/plugin install mechanism"
I realise that the this kafka plugin (https://github.com/joekiller/logstash-kafka) is part of the core logstash 1.5. However, I'm trying to get it installed to be part of this docker-logstash container running logstash version 1.4.2.
From the kafka plugin repo readme, I nsentered to the running logstash container and tried running from /opt/logstash: GEM_HOME=vendor/bundle/jruby/1.9 GEM_PATH= java

[2015-02-27 14:24] pblittle commented on #65
@mikehaertl the `es` alias is used throughout the codebase. It can be renamed (see the second note below), but it will break existing installations of this container.

Unless I'm missing a third option, to fix this issue, I am going to have to decide between two potentially breaking changes to resolve the variable name conflict:

1. Change the `ES_HOST` &  `ES_PORT` environment variables to  `ES_S

[2015-02-27 14:34] pblittle commented on #56
@cboettig I was just giving an example of how to easily insert data into Elasticsearch. You can run the `curl` command from inside of the contain and receive the same result. Just change `<your_elasticsearch_ip>` to `127.0.0.1`.

`curl -XPUT '127.0.0.1:9200/twitter/user/emmet' -d '{ "name" : "Emmet" }'`

[2015-02-27 17:55] cboettig commented on #56
@pblittle Thanks for clarifying; yes I figured that is what you meant.

First having built the new image I've tried running: `docker run -d -p 9292:9292 logstash` and then
I `docker exec` into the logstash container and I'm able to use your example to add something to the record and query it (e.g. `curl -L localhost:9200/_search`).  From inside and outside the container, I can get `kibana` to resp

[2015-02-27 21:10] pblittle commented on #56
@cboettig do you mind showing me you `/opt/logstash/conf.d/logstash.conf` and `/opt/logstash/vendor/kibana/config.js` config files?

[2015-02-27 21:15] cboettig commented on #56
Sure, though they are just the defaults from running the container as I described above:

logstash.conf

[code]

And kibana config.js:

[code]

[2015-03-03 03:50] #59 closed

[2015-03-03 03:51] pblittle commented on #62
Closing due to inactivity. @bjblazko please reopen if I can do anything to help.

[2015-03-03 03:51] #62 closed

[2015-03-04 11:48] lafar6502 opened #68 "error starting the docker-logstash container - gist.githubusercontent.com cert not trusted"
The container terminates just after few seconds
here's the stderr output:

converted 'https://gist.githubusercontent.com/pblittle/8778567/raw/logstash.conf' (ANSI_X3.4-1968) -> 'https://gist.githubusercontent.com/pblittle/8778567/raw/logstash.conf' (UTF-8)
--2015-02-14 12:35:07--  https://gist.githubusercontent.com/pblittle/8778567/raw/logstash.conf
Resolving gist.githubusercontent.com (gist.githu

[2015-03-04 13:42] mikehaertl commented on #65
Sorry if I missed it, but how is this fixed now? I'm now using `pblittle/docker-logstash:0.12.1`.

I still set this in my customer `logstash.conf`:

[code]

I get the same error as before. Afterwards the variables in the logfile are replaced:

[code]

Apart from it still not working, I'll also have the problem, that I always have to restore the `ES_HOST` and `ES_PORT` variables in my custom config

[2015-03-04 14:04] mikehaertl opened #69 "The container should not overwrite my custom configuration file"
As mentioned in #65 I think the approach to rewrite my custom config file is flawed. It requires me to add the config vars `ES_HOST` and `ES_PORT` back in, each time I restart my setup.

First I thought, you could use the [logstash contrib plugins](http://logstash.net/docs/1.4.2/contrib-plugins) and then have support for [environment vars in the config file](http://logstash.net/docs/1.4.2/filters/

[2015-03-04 14:12] mikehaertl opened #70 "Upgrade to Kibana 4 and Elasticsearch 1.4.4"
It would be great to see the latest versions included.

[2015-03-04 15:11] pblittle commented on #68
@lafar6502 I noticed this during a build yesterday also. It looks like the `*.githubusercontent.com` certificate was renewed a few days ago.

I built the container again this AM to verify the issue and I did not see the error this time:

[code]

Do you mind trying again and let me know how it goes?

[2015-03-04 16:01] pblittle commented on #67
@Analect I'm not sure about this one without digging in. Have you gotten any further since leaving this comment?

[2015-03-04 18:55] pblittle commented on #69
@mikehaertl thanks for the suggestion. When the current functionality was implemented in #16, I didn't think about the use case you're describing. I definitely see how it can be a pain though.

Would simply not applying the string interpolation when a config file(s) exist work for you?

[2015-03-04 19:01] mikehaertl commented on #69
Can you explain what you mean by string interpolation?

[2015-03-04 20:11] pblittle commented on #69
@mikehaertl, sure. I meant the [process of replacing](https://github.com/pblittle/docker-logstash/blob/master/1.4/base/logstash.sh#L47-L64) the `ES_HOST` and `ES_PORT` placeholders in `logstash.conf` with the values returned by the [es_service_host](https://github.com/pblittle/docker-logstash/blob/master/1.4/base/elasticsearch.sh#L11-L20) and [es_service_port](https://github.com/pblittle/docker-lo

[2015-03-04 22:56] Analect commented on #67
@pblittle
I ended up just installing 1.4.2 on my host machine ... having exhausted some of the other container solutions out there. Getting the kafka plugin working wasn't completely straight-forward, however, the following worked for me:
Downloading and untarring logstash_1.4.2.tar.gz
From https://logstash.jira.com/browse/LOGSTASH-1839, I ended up having to run:
"make vendor-jruby"
then "bin/logs

[2015-03-04 22:56] #67 closed

[2015-03-05 03:44] #57 closed

[2015-03-05 03:53] pblittle commented on #70
@mikehaertl, this image is using the versions of Kibana and Elasticsearch that are bundled in Logstash `1.4.2`.

I created issue #50 to propose adding Logstash `1.5`. I think the move to `1.5` will be a good time to talk about upgrades.

Until then, your best bet is to link this container to separate Kibana and Elasticsearch containers running the upgrades that you noted.

[2015-03-05 03:53] #70 closed

[2015-03-05 04:03] pblittle commented on #66
@cboettig, do you think #69 created by @mikehaertl is similar to this issue?

[2015-03-05 04:55] cboettig commented on #66
Sounds similar to me.

On Wed, Mar 4, 2015, 8:03 PM P. Barrett Little <notifications@github.com>
wrote:

[2015-03-05 08:32] mikehaertl commented on #70
Hmm, I can't really find a version of logstash that has Elasticsearch or Kibana bundled. They all have to be downloaded seperately. All the downloads are now directly available from elasticsearch's download page: http://www.elasticsearch.org/overview/elkdownloads/

The latest versions there are:

 * Elasticsearch 1.4.4
 * Logstash 1.4.2
 * Kibana 4.0.1

So if you download everything from there, th

[2015-03-05 08:36] mikehaertl commented on #66
Oops, I missed this issue. It's really the same idea, so you can close #69. The only difference is, that I suggest to copy the complete directory. On the other hand: The documentation says, that it will include *all* config files from that directory, which never worked for me anyway. The file had to be named `logstash.conf`.

[2015-03-05 08:40] mikehaertl commented on #69
But if you skip step 3, then the `ES_HOST` and `ES_PORT` vars will never be replaced, which doesn't work either. Or maybe I don't understand. I think in principle everything is fine the way it is - you only should add one more step and copy my file somewhere else, before you do string interpolation on that copied file.

[2015-03-05 18:52] epelc opened #71 "Update es and kibana?"
This is a nice package and seems to be the best dockerfile for elk around. However elastic search and kibana seem to be outdated. Are there any plans to update this?

[2015-03-05 18:52] epelc commented on #71
I just noticed #50 sorry

[2015-03-05 18:52] #71 closed

[2015-03-05 19:37] pblittle commented on #50
@ianks, @mikehaertl, thanks for questioning my logic. I'm all about upgrading if it makes sense.

@mikehaertl, I'm copying your comment from issue #70 to respond to it.

[code]

This image is installing logstash `1.4.2` using the tarball from [elasticsearch.org](http://www.elasticsearch.org/overview/logstash/download/). The logstash `1.4.2` source has a bundled version of  Elasticsearch `1.1.1` an

[2015-03-05 22:02] pblittle commented on #66
@mikehaertl

```On the other hand: The documentation says, that it will include all config files from that directory, which never worked for me anyway. The file had to be named logstash.conf```

You definitely found a bug if all files in `/opt/logstash/conf.d` aren't being loaded.

https://github.com/pblittle/docker-logstash/blob/master/1.4/base/logstash.sh#L74-L112

I'll take a look at it and try

[2015-03-06 20:18] pblittle commented on #68
Closing due to inactivity. @lafar6502 please reopen if I can do anything to help.

[2015-03-06 20:18] #68 closed

[2015-03-10 15:25] epelc commented on #50
@pblittle Perhaps updates would be easier if this was broken up into 3 images. Just a thought it might be to much work/up keep to handle though. BTW great image this is the easiest log stash one to use.

[2015-03-11 16:06] pblittle commented on #50
@epelc, sorry I haven't gotten back to you yet. I'll get back to you by the end of the day. Thanks for the kind words.

[2015-03-11 16:37] mikehaertl commented on #50
Neither am I - and sorry for the delay. This is just a pet project for me. I wanted to try out Kibana and your image seemd the perfect fit. But still couldn't make the latest version work, so I focused on other things meanwhile.

That's weird. Because there's also this note in the logstash docs  [here](http://logstash.net/docs/1.4.2/tutorials/getting-started-with-logstash):

So they even seem to r

[2015-03-11 18:27] epelc commented on #50
@pblittle No rush

@mikehaertl It would be nice to use this for production as there aren't really any other good logstash images. But having everything in one container also keeps you from worrying so much about mismatched versions.

[2015-03-13 13:46] pblittle commented on #50
@mikehaertl, generally speaking, the embedded Elasticsearch shouldn't be used in production. It was embedded for development.

You can definitely use this image in production. I do and a lot of others do also. The convention though is to use this image for Logstash and possibly Kibana. Elasticsearch would be in a separate container.

Take a look at the [test suite](https://github.com/pblittle/dock

[2015-03-24 13:41] simonluijk opened #72 "S appended to https on restarting container"
When you restart a container that exited for any reason the config is updated. If you have set ES_PROXY_PROTOCOL=https an s is appended to the protocol each time the container is restarted.

I think the replace of the protocol on this line should be updated to include the character after the http. They by failing when the protocol has already been updated.
https://github.com/pblittle/docker-logsta

[2015-03-24 14:28] pblittle commented on #72
@simonluijk, thanks man, this is a great find. I'll try to work this in as a hotfix today. I need to write a test to verify, but I think using a something as simple as replacing `http` with `^http[s]?` should do the trick.

If you have time, feel free to submit a PR. :smile:

[2015-03-24 15:30] simonluijk commented on #72
That solution was my initial thought too, and maybe the best solution.
But I think it might be best for it to only match the unmodified config.
I don't have a config file to hand. If you send my an example of the
config file I will have a look.

Simon

On 24/03/15 15:28, P. Barrett Little wrote:

[2015-03-24 19:07] pblittle commented on #72
@simonluijk, I imagine you know, but to be certain, the Kibana config that is being used in this project is embedded in `vendor/kibana` in the Logstash package.

Given the original file is being modified, additional logic will need to be added to track modifications. This is definitely worth exploring. Maybe in a separate issue?

For testing, you should be able to use [the config file](https://git

[2015-03-25 13:21] simonluijk commented on #72
OK, I have done some testing. This will only match the original config, if it has been modified manually or already updated it won't have any effect. Sorry I am was not able to get a PR together.

`sed -e 's|\"http\:|"https:|g' test.js`

[2015-03-25 15:37] pblittle commented on #72
@simonluijk, cool. Thanks for the update. No problem on the PR. I'll try to get something together this afternoon.

[2015-03-26 19:09] pblittle commented on #72
@simonluijk do you mind taking a look at #73 and verify the fix before I merge it in?

[2015-03-27 14:56] #72 closed

[2015-03-27 16:28] griff commented on #65
Since docker will write a mapping of the ip address to the linked alias into /etc/hosts it is prefered to used that (in this case by using the hostname es) instead of environment variables like ES_PORT_9200_TCP_ADDR because while the /etc/hosts file gets updated on restart of the linked container the environment variables wont get updated (see docker/docker#9891).

[2015-03-27 16:52] griff opened #74 "Location of embedded elasticsearch index is non-obvious."
I am using the embedded elasticsearch for now and I wanted to make sure that its data was stored on a volume but finding out where it was stored and why is non-obvious and from what I can gather a bit of a combination of things that might easily break. Basically the data is stored in $(pwd)/data which as the image is now means /data but change workdir on the docker run command and the data dir is

[2015-03-27 18:21] pblittle commented on #74
@griff, I totally agree. At a bare minimum, the current implementation, or lack thereof, should be documented.

I also like the idea of storing the embedded elasticsearch data directory in an environment variable. That would be a quick and easy solution. Maybe `/data/elasticsearch`.

It might also be a good idea to add `VOLUME /data` to the `Dockerfile`. I have been hesitant to make any changes to

[2015-03-27 18:40] pblittle commented on #65
@griff, thanks for bringing this issue back to life. Revisiting it was on my todo list. @mikehaertl, sorry to leave you hanging. :smile:

I wish I had more time to follow the Docker issue tracker. I totally missed the issue and related [documentation](https://docs.docker.com/userguide/dockerlinks/#updating-the-etchosts-file). I would imagine this oversight in my image impacts a lot of folks.

@mik

[2015-03-27 19:13] mikehaertl commented on #65
@pblittle No worries - I had no time either :D. I think I've tried the hostname before and it didn't work - but I may be wrong. Will test again when I find time.

[2015-03-27 19:20] robertd commented on #50
I didn't want to open new issue for this, so I'm going to ask it here.... Are you planning on updating Kibana to 4.0.1 as well?

[2015-03-27 21:34] griff commented on #74
If you are looking to slim down the image ```docker history``` is a great tool. Tells you exactly which layer is using all the space. Adding a VOLUME line doesn't take any space since it is only a metadata change.

[2015-03-28 15:47] griff opened #75 "Can't get tests to work"
I was working on a fix for #74 and I wanted to run the tests you have in the repository but as far as I can tell they don't work. Is this something you are working on?

[2015-03-28 22:08] saitheexplorer opened #76 "log4j error?"
I'm seeing this in my docker container logs after the certs have been downloaded.

[code]

Is this a logstash issue?

[2015-03-29 06:46] joshuacox opened #77 "turn off elastic search and kibana"
Is there a way to shut these two down instead of having them start when I have other containers supplying those functions?

[2015-03-31 01:21] pblittle commented on #75
@griff sorry I'm just now getting back to you. I've been out of commission for the last few days.

I'm really glad you started by running the test suite, most people don't. :smile:

All of the tests do pass, but you have to jump through a few hoops to run them. I'll start be showing you how to run them. This example uses the [elasticsearch-embedded](https://github.com/pblittle/docker-logstash/blob

[2015-03-31 01:30] pblittle commented on #76
@saitheexplorer, from what I understand, it's an Elasticsearch configuration issue. There is a [logstash ticket](https://logstash.jira.com/browse/LOGSTASH-302) from a few years ago describing the problem and provides a [possible workaround](https://gist.github.com/jordansissel/1004979).

I hope this helps. Let me know if you come up with a way to incorporate the workaround.

[2015-03-31 01:41] pblittle commented on #77
@joshuacox, thanks to [a contribution](https://github.com/pblittle/docker-logstash/pull/60) from @aidan-, you are able to selectively run services.

Unfortunately, I haven't had time to document the feature. Here is the gist from the original PR:

    At the moment it supports 4 modes of operation:

    1. agent - only run the Logstash agent
    2. configtest - run the agent with --configtest

[2015-03-31 01:57] pblittle commented on #50
@robertd, Kibana [has been removed entirely](https://github.com/elastic/logstash/issues/2494) from logstash `1.5`. Based on that, it will no longer be available in this container. I haven't paid much attention to the existing `Kibana 4` containers. I imagine a great container already exists. If it doesn't, I'll gladly write one.

[2015-03-31 03:02] robertd commented on #50
@pblittle Thanks for the explanation. I was following this tutorial https://www.cloudgear.net/blog/2015/apache-log-analysis-with-kibana-docker/ and that's how I got here. I really appreciate the effort you're putting in this repo. Thanks!

[2015-03-31 08:14] mikehaertl commented on #50
@pblittle I'm still not sure, why it's not possible to simply download the latest versions of all the above into the container. You could then simply tag the different container versions, so the user can decide, which version he wants to use.

I think many people come here to find a simple to use ELK stack and are somewhat disappointet that the latest versions are not available. I'd say it would n

[2015-03-31 14:06] joshuacox commented on #77
awesome thanks!

[2015-03-31 14:06] #77 closed

[2015-03-31 14:09] pblittle commented on #77
@joshuacox glad to help. Let me know if anything else comes up.

[2015-04-01 19:33] shanesveller commented on #76
We encountered this recently, and in our case it wound up being that the current Docker image was now expecting config files included via Docker volume to be located at `/opt/logstash/conf.d/*` rather than `/opt/logstash.conf`.

[2015-04-02 03:32] pblittle commented on #76
@shanesveller, that's really interesting. I'll keep that scenario in mind. Thanks.

[2015-04-02 03:32] #76 closed

[2015-04-02 03:33] #75 closed

[2015-04-02 03:53] pblittle commented on #69
@mikehaertl I'm not sure if the change I just made helps or hurts your issue, I hope it helps...

Now, rather than always applying the interpolation, the config file is only changed if the config directory was previously empty. A config file that already existed from either a mounted source or previous download should not be updated.

https://github.com/pblittle/docker-logstash/blob/develop/1.4/ba

[2015-04-02 03:58] pblittle commented on #49
A quick update for this issue, I have laid the framework to allow additional download methods and stubbed out the coming functions:

https://github.com/pblittle/docker-logstash/blob/develop/1.4/base/logstash.sh#L79-L104

I plan on building out the tarball functionality first, then git.

[2015-04-09 13:16] jelmstrom opened #79 "Do not force logstash config to be limited to one file named logstash.conf"
Logstash has built in capabilities to read multiple config files, if the -f parameter is a directory or contains wildcards. (http://logstash.net/docs/1.4.2/flags)

Using a hard-coded filename does not only force other containers to use that specific name, but it also prevents the logstash container from reading multiple configuration files.

Starting logstash with a commandline of -f ${LOGSTASH_CO

[2015-04-12 18:43] PavelVanecek commented on #62
I believe I saw the same behaviour. I'm not sure what exactly is the issue, but for me it worked to link a directory, not just single file:
[code]
@bjblazko please confirm

[2015-04-15 14:51] ashleyconnor opened #82 "Logging to container - which port?"
I've fired up a container using the the command in the readme

    $ docker run -d \
    -p 9292:9292 \
    -p 9200:9200 \
    pblittle/docker-logstash

Now I'm attempting to get logs to show up on the Kibana web interface using [logstash-logger](https://github.com/dwbutler/logstash-logger)

The problem is, I'm not sure what port to use in order to log to this container. Kibana is running on 9292

[2015-04-15 15:10] ashleyconnor commented on #82
Ah figured it out.

The default config you supply doesn't contain any exposed ports (for security I'm guessing) so I replace it with a config that exposes a port.

    input {
      tcp { port => 3333 type => "json event" codec => json_lines {} }

      stdin {
        type => "stdin-type"
      }

      file {
        type => "syslog"
        path => [ "/var/log/*.log", "/var/log/messages", "/var

[2015-04-15 15:10] #82 closed

[2015-04-15 18:07] SyRenity opened #83 "Securing Kibana"
Is there an option to add Kibana security via Nginx, for example like in the following?
http://technosophos.com/2014/03/19/ssl-password-protection-for-kibana.html

[2015-04-18 15:05] pblittle commented on #82
@ashleyconnor, sorry for the delay. I'm glad you figured out the port question. What's going on with this issue:

Let me know if I can help.

[2015-04-28 19:50] pblittle commented on #79
@jelmstrom, thanks for reporting this issue. Being bound to `logstash.conf` definitely wasn't my intention. All files in `$LOGSTASH_CONFIG_DIR` should be loaded [1].

There must be a bug that needs to be addressed. I'll dig in and try to reproduce the issue.

[1] https://github.com/pblittle/docker-logstash/blob/master/1.4/base/logstash.sh#L143-L148

[2015-05-03 03:32] pblittle commented on #79
@jelmstrom I fixed the config file name issue you reported. Thanks again for the bug report. This fix will go out in the next release. Please let me know if it doesn't resolve your issue.

[2015-05-03 03:32] #79 closed

[2015-05-04 11:25] Boran opened #88 "After container run: Your version of Elasticsearch is too old. Kibana requires Elasticsearch 0.90.9"
Hi, I pulled this container to have a look at logstash, which I do not yet know.

After building the container (with the options noted in the Readme for "Full Elk stack": -p 9292:9292 9200:9200) .
Then connecting to port 9200 there is nothing and on 9292, one see a minimal UI with a message above saying "Your version of Elasticsearch is too old. Kibana requires Elasticsearch 0.90.9"

Perhaps a few

[2015-05-04 18:08] pblittle commented on #88
@Boran, sure. Glad to help. Do you mind trying to build the container again? I found a bug this AM which may or may not be related to your issue.

[2015-05-04 20:39] Boran commented on #88
I still see the same error.

The last bit of the docker logs says:
2015-05-04 20:35:29 (17.6 MB/s) - ‘/opt/ssl/logstash-forwarder.crt’ saved [1345/1345]
Sending logstash logs to /var/log/logstash/logstash.log.
log4j:WARN No appenders could be found for logger (org.elasticsearch.node).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/fa

[2015-05-04 21:04] pblittle commented on #88
@Boran, the last bit of your log output looks fine. What does `docker ps -a` return?

[2015-05-04 21:26] pblittle commented on #83
@SyRenity, I think your best bet is to use a separate Kibana/Nginx image rather than the Kibana install that is embedded in Logstash. Sorry I can't help more. I haven't done this personally, so I don't have any real world experience to offer.

I'm going to close this issue for now. Please reopen if you have any questions specific to the Logstash side of the equation.

[2015-05-04 21:26] #83 closed

[2015-05-04 21:27] pblittle commented on #49
This feature is in full swing now and no longer a proposal.

[2015-05-04 21:27] #49 closed

[2015-05-05 05:11] Boran commented on #88
oot@logstash:~# ps -ax
  PID TTY      STAT   TIME COMMAND
 1 ?        Ssl    4:02 /usr/bin/java -Xmx500m -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -Djava.awt.headless=true -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -jar /opt/logstash/vendor/jar/jruby-complete-1.7.11.jar -I/opt/logstash/lib /opt/logstash/lib/logstash/runner.rb agent --config /opt/logstash/conf.d --log /

[2015-05-06 08:00] Tazer commented on #65
Any updates to this issue ? :)

[2015-05-07 19:33] pblittle commented on #88
@Boran I'm really not sure where to go with the debugging without more information. I ran the full stack command on a few machines successfully. Let me know if you have any additional information to give me to help debug/reproduce, otherwise I'll close the issue.

[2015-05-08 03:54] pblittle commented on #65
@Tazer, sorry I haven't gotten back to you yet. The short answer is no, I don't have any updates. :) I take it you are experiencing the issue also? Is there anything you can add to the comments above? Any information specific to your deployment would help.

[2015-05-08 14:19] pblittle commented on #88
@Boran, sorry I couldn't help. Let me know if you gain any additional insight.

[2015-05-08 18:08] pblittle commented on #74
@griff, @mikehaertl, just a heads up, I have started to work on this issue.

You are now able to define `VOLUME` and `WORKDIR` using a `DATA_DIR` environment variable. The default `DATA_DIR` is `/data`.

You can see the direction I'm taking in the [feature branch](https://github.com/pblittle/docker-logstash/commit/d5219a39b233539f9a2fcea9fe1ac50fa8c3dfd4).

[2015-05-23 04:38] crccheck opened #92 "Error Could not load dashboards/default.json. Please make sure it exists"
If you access Kibana via a name other than the 172.x.x.x  ip or localhost, you get the error: `Error Could not load dashboards/default.json. Please make sure it exists` because the web server serves a 403 response for nearly everything.

In my case, I set up dns entries so I can talk to my containers by name instead of ip, and going to http://elk.docker:9292/index.html#/dashboard/file/default.json

[2015-05-25 04:00] pblittle commented on #92
@crccheck I ran a few tests locally and I'm not able to reproduce this issue.

I am able to access Kibana using my container IP `192.168.59.103`:

[code]

I am also able to access Kibana after adding `elk.docker` to `/etc/hosts`:

[code]

This might be a `CORS` issue. Is `http.cors.allow-origin` set in your `elasticsearch.yml` file?

[2015-05-25 04:08] crccheck commented on #92
I wasn't using a custom `elasticsearch.yml`. http://elk.docker:9292/index.html#/dashboard/file/default.json actually does load for me, but if you open the network window it's full of HTTP 403 errors.

`"NetworkError: 403 Forbidden - http://elk.docker:9292/app/dashboards/default.json?1432526707006"`

But if I use `curl`, it does load.

This may be a kibana thing.

[2015-05-26 15:32] pblittle commented on #92
@crccheck, this very well could be a Kibana issue. I'm going to close this issue for now. Please repoen if you find it is specific to this project.

[2015-05-26 15:32] #92 closed

[2015-06-05 20:18] pblittle commented on #69
Closing due to inactivity. @mikehaertl please reopen this issue if want to work through my comment above.

[2015-06-05 20:18] #69 closed

[2015-06-05 20:21] pblittle commented on #66
@mikehaertl I wasn't able to reproduce this issue. I'm going to close it for now. Please reopen if you are still experiencing the problem.

[2015-06-05 20:21] #66 closed

[2015-06-05 20:52] pblittle opened #93 "Elasticsearch proxy host should be more flexible"
The [current implementation](https://github.com/pblittle/docker-logstash/blob/master/1.4/base/kibana.sh#L28) of configuring the Elasticsearch proxy url in Kibana is too rigid. I shouldn't be required to define a port number.

This issue was identified when attempting to use this image in Kubernetes, which hides the service port assignment. I should be able to define my url and produce the followin

[2015-06-08 01:51] iMerica opened #94 "ELK stack container crashes consistently in Docker-Compose"
Hi, I'm trying to run the entire ELK stack as per the directions and I'm consistently seeing two crashes. One relating to "Faraday" not connecting and another relating to "ThreadError: current thread not owner".

Here's my docker-compose.yml:

[code]

and here is the output I'm seeing when running `docker-compose up`:
[code]

Environment:
[code]

Thanks,

Michael

[2015-06-08 02:03] pblittle commented on #94
@iMerica thanks for creating the issue. I haven't seen this problem. Do you mind running the `elasticsearch-embedded` test suite? It should mirror what you're doing fairly closely.

[code]

That will bring up the container for testing. You then need to docker exec to get inside of it.

[code]

Then fire up the bats test suite:

[code]

Please let me know if you don't have time to debug. I should b

[2015-06-08 02:09] iMerica commented on #94
Okay, I'm doing this now. Interestingly, this issue appears to only surface in Docker-Compose, not when when starting the container using `docker run`.

[2015-06-08 02:26] iMerica commented on #94
A couple of issues with testing:
- `make test-elasticsearch-embedded` doesn't detach after running.
- `elasticsearchembedded_logstash_1` as a name doesn't exist as a result of running the above make command.  I had to ssh into the container by it's ID.
- After ssh'ing into the container, `./test.bats` is not there. Here's what I see in `ls`: `bin  boot  dev	etc  home  lib	lib64  media  mnt  opt	pr

[2015-06-08 02:52] pblittle commented on #94
@iMerica are you testing against the `master` branch?

You're correct about the container not detaching. I should fix that. :)

I definitely see the `elasticsearchembedded_logstash_1` name though:

[code]

I also see `test.bats` when I exec into the container:

[code]

And my environment:

[code]

I would say the first step is to figure out why we aren't able to create similar test environments.

[2015-06-15 14:09] pblittle commented on #94
Closing due to inactivity. @iMerica please reopen if I can do anything to help.

[2015-06-15 14:09] #94 closed

[2015-07-09 14:02] pierroz127 opened #96 "Problem when trying to link with elasticsearch container"
Hi Peter

I'm trying to run your docker-logstash container with an elasticsearch container and it doesn't work.
I'm working with the "official" Docker elasticsearch image. I run it with the following command:

[code]

Then I run the docker-logstash container:

[code]

In the `<logstash_conf_path>` directory, there's the following logstash.conf file:

[code]

And basically that's it... when I go to

[2015-07-12 17:54] pblittle commented on #96
@pierroz127, thanks for taking the time to create this issue. I'll work through your notes and will let you know what I come up.

[2015-07-21 15:58] davehun commented on #88
I am seeing the same thing
Upgrade Required Your version of Elasticsearch is too old. Kibana requires Elasticsearch 0.90.9 or above.

also get Exception in thread ">output" org.elasticsearch.discovery.MasterNotDiscoveredException: waited for [30s]
	at org.elasticsearch.action.support.master.TransportMasterNodeOperationAction$3.onTimeout(org/elasticsearch/action/support/master/TransportMasterNodeOp

[2015-07-21 20:43] pblittle commented on #88
@davehun do you mind giving me a little more information? It would help me to see the output of `docker -v`, your docker run command, and the config file you're using.

There has to be a use case that I'm not aware of or testing. Hopefully we can get to the bottom of it.

[2015-08-07 11:07] floriankammermann opened #97 "The image can't be run without internet connection"
Sadly I have no internet connection, where i run the image.
The container stops then at this log out: wget https://gist.githubusercontent.com/pblittle/8994708/raw/insecure-logstash-forwarder.key -O /opt/ssl/logstash-forwarder.key

[2015-08-12 15:43] pblittle commented on #97
@floriankammermann, I'm sorry for not getting back to you sooner. I am just now returning from a few days of travel.

Thank you for submitting the issue. I'll take a look at it shortly and will get back to you with my thoughts.

[2015-08-13 08:44] Alino opened #98 "could you update please to logstash 1.5.0?"
because I am facing this issue https://github.com/elastic/logstash/issues/1756
it should be solved in 1.5.0
Thank you

[2015-08-13 08:45] Alino commented on #98
sorry it wasn't fixed in 1.5.0 but newer version would be still nice to have :D

[2015-08-23 14:20] gtmtech commented on #97
+1 Agreed - there's no way you could run an image like this in operations as it tries to update from github - in most environments its good practice to control outbound traffic, and not have any outbound traffic from your data layer at all.

It would be much better to have an image which is built and self-contained and could be run anywhere. I imagine its still useful to devs playing around locall

[2015-08-24 18:27] pblittle commented on #97
@gtmtech I definitely see value in this. I haven't had much time to think about the best way to implement the change. One simple solution is to do a quick `ping` test for an internet connection. If a connection exists, download the config files, otherwise proceed without failing. Something like:

[code]

Does that fit your use case? There might be an easier solution that I'm not thinking of.

-pbl

[2015-08-24 18:36] pblittle commented on #93
Closing the issue. It is no longer a priority for me.

[2015-08-24 18:36] #93 closed

[2015-08-24 18:38] pblittle commented on #98
@Alino I plan to knock this out as soon as possible. It is related to issue #50.

[2015-08-31 10:38] ror6ax opened #100 "silent embedded elasiticsearch error"
I have a following error in Kibana:
`
Possibility #1: Your elasticsearch server is down or unreachable
This can be caused by a network outage, or a failure of the Elasticsearch process. If you have recently run a query that required a terms facet to be executed it is possible the process has run out of memory and stopped. Be sure to check your Elasticsearch logs for any sign of memory pressure.
Po

[2015-08-31 18:08] pblittle commented on #100
@ror6ax thank you for reporting this issue. Before we can move forward I will need enough information to be able to reproduce the issue. Please provide a sample configuration file and the exact commands you ran to produce the error reported.

[2015-09-01 09:17] ror6ax commented on #100
The exact command I use is as follows:
`docker run -d -p 9292:9292   -p 9200:9200 -p 5000:5000 -v /root/01-lumberjack-input.conf:/opt/logstash/conf.d/01-lumberjack-input.conf -v /etc/pki/tls/certs/logstash-forwarder.crt:/etc/pki/tls/certs/logstash-forwarder.crt -v /etc/pki/tls/private/logstash-forwarder.key:/etc/pki/tls/private/logstash-forwarder.key -v /tmp/ls.log:/var/log/logstash/logstash.log

[2015-09-20 10:21] fbaligand opened #102 "Add support for environment variable injection in logstash plugin configuration"
It would be great to support environment variable injection in logstash configuration, like this :

tcp {
port: "${TCP_PORT}"
}

It would be very useful to have a logstash configuration independent from its environment. And so, have the same logstash configuration among different environments (dev, test, prod, ...)

Numerous frameworks support such a feature like spring or log4j.

[2015-09-20 10:37] fbaligand commented on #102
I'm very sorry : I wanted to open this issue on another repository.
I close the issue.

[2015-09-20 10:37] #102 closed

[2015-10-07 18:17] zmsp commented on #100
Hi, I have the same issue. I was using default config ELK. Also tried custom config with shared container, same issue. Thanks

[2015-10-07 21:31] pblittle commented on #100
@zmsp, thanks for chiming in. Are you saying that when you run the basic documented [1] run command you don't have a successfully deployed ELK stack?

[code]

[code]

[code]

[code]

Do you not see similar results?

[1] https://github.com/pblittle/docker-logstash#full-elk-stack-default

[2015-10-07 22:07] zmsp commented on #100
My issue was resolved.

But I think the issue was due to browser serving the fail to connect to elasticserch from cache which started when I did custom config for logstash.

Thanks for making this!

[2015-10-08 12:36] pblittle commented on #100
@zmsp I'm glad to hear you resolved the issue. You're welcome. I'm glad you're finding it useful!

I'm still curious about why the container didn't run successfully the first time. Do you have any additional insight? It seems like there are a number of odd issues that pop up randomly for other folks also. I would love to find the root cause and fix the issue.

[2015-10-11 02:30] rafkhan opened #106 "Can't connect to Vagrant box"
Hey, I'm unable to run `vagrant ssh` to connect to the box after running `vagrant up`.
I enabled the GUI and saw that ubuntu is prompting me to login, is this normal behavior? How would I be able to get around this?

Thanks for your help :)

[2015-10-11 18:20] zmsp commented on #100
I used custom config for logstash first which had some error. This resulted in the failed page. Then I tried the default config and it was serving the error page for some reason. As soon as I used a different browser it was fixed.

This error also shows up during the first minute of when you start the container which I think due to elasticsearch server taking it's time while starting.

[2015-10-12 02:58] pblittle commented on #106
@rafkhan, `vagrant up` followed by `vagrant ssh` should work without a hitch. A few questions:

* What does `vagrant status` return?
* What version of vagrant are you running, `vagrant --version`?
* Do you see an error when you run `vagrant ssh --debug`?

That info should help us get the issue resolved.

[2015-10-15 13:49] JacquesPerrault opened #107 "QUESTION: How can I access the container's elasticsearch.yml?"
I am running Docker on Windows (yeah, "boo!", I know.  moving on...).  So Docker is running through VirtualBox, and I access Kibana on port 9292 on my host via the virtual network adapter bridging the host and container environment.  I am running into the CORS issue resulting from ElasticSearch's security settings (host is 192.x.x.x, container is 172.x.x.x), and I need to set `http.cors.allow-orig

[2015-10-15 19:18] pblittle commented on #107
@JacquesPerrault great question. Let's see if we can work through it.

To answer your first question, the default `elasticsearch.yml` path is `/opt/logstash/elasticsearch.yml` [0]. That is where Logstash looks for the Elasticsearch config file by default.

Your correct, the Elasticsearch config file isn't configurable. It wouldn't be hard. Before we look into that option let's make sure the curren

[2015-10-15 20:37] pblittle commented on #107
@JacquesPerrault I forgot to mention how to get into the container in case you didn't know. If you are building from source, you can use `make shell` [0] to get in. Otherwise, `docker exec -ti logstash /bin/bash` should get you in.

[0] https://github.com/pblittle/docker-logstash/blob/master/1.4/Makefile#L70

[2015-10-17 18:04] pblittle commented on #106
Closing due to inactivity. @rafkhan please reopen if I can do anything to help.

[2015-10-17 18:04] #106 closed

[2015-10-17 18:05] pblittle commented on #74
Closing due to inactivity. @griff please reopen if I can do anything to help.

[2015-10-17 18:05] #74 closed

[2015-10-17 18:06] #98 closed

[2015-10-17 18:09] pblittle commented on #100
@zmsp thanks for the insight. This is sounding more and more like a timing issue. I am going to close the issue. Please reopen if you experience the problem again.

cc: @ror6ax please take a look at my comments above. Hopefully your issue was timing related also. Please reopen this issue if you think something else is going on.

[2015-10-17 18:09] #100 closed

[2015-10-19 15:46] JacquesPerrault commented on #107
Just checking back - I'll work through the config links above and post when I have more.

[2015-10-19 20:15] JacquesPerrault commented on #107
Neither of the following two commands resulted in Kibana talking to my Elasticsearch container:
`docker run --name logstash --link <your_es_container_name>:es -p 9292:9292 pblittle/docker-logstash`

`docker run --name logstash -e ES_HOST=<es_host_ip> -e ES_PORT=9200 -p 9200:9200 -p 9292:9292 pblittle/docker-logstash`

What did work was allowing it to find the container on its own, via:
`docker run

[2015-10-19 20:15] #107 closed

[2016-05-17 00:27] jessechahal opened #109 "Where is data stored?"
So i saw a previous issue: https://github.com/pblittle/docker-logstash/issues/31 which asked the same question but there was no answer in the issue. Where does data get stored? I tried checking out the `/data` directory but it doesn't appear there is any data being saved there. Just an FYI the configuration file I'm using takes udp traffic for logs. Kibana displays them fine.

[2016-10-03 01:50] mis101bird opened #110 "Kibana cannot read logs"
Hi,
I use this command to run your docker image.
docker run -it -d --name elk -v /home/soselab401/project/servrel/tomcat/logs:/var/log -p 9292:9292 -p 9200:9200 pblittle/docker-logstash
{/home/soselab401/project/servrel/tomcat/logs} is where I put the logs in local machine.
I use the default logstash config and put the local logs to the elk docker.
However, my Kibana didn't show anything...
and I

[2016-10-03 20:45] pblittle commented on #110
@mis101bird hmm... I'm not sure. I just did a quick test on a cluster and my logs were available in Kibana and ElasticSearch. Are you giving it enough time to load?

[2016-10-04 07:53] mis101bird commented on #110
@pblittle Sorry, It is my mistake. I put the log files outside the docker and didn't use volume when I use docker run. It solved now, thank you.

[2016-10-04 15:37] pblittle commented on #110
@mis101bird Great. Please let me know if anything else comes up.

[2016-10-04 15:37] #110 closed, assigned to pblittle

[2016-12-13 17:53] Nagesh74 opened #111 "Logstash-forwarder is failing to install on CentOS Linux release 7.3.1611"
[exec] Step 9 : RUN mkdir /opt/logstash/ssl;mkdir -p /opt/dw-logstash/initScripts; mkdir -p /opt/cleanup/ &&     yum -y update &&     yum clean all

     [exec]  ---> Running in 7f0a594dba42

     [exec] [91m/bin/sh: 1: yum: not found

     [exec] The command '/bin/sh -c mkdir /opt/logstash/ssl;mkdir -p /opt/dw-logstash/initScripts; mkdir -p /opt/cleanup/ &&     yum -y update &&     yum clean all'

[2017-01-20 06:46] Nagesh74 commented on #111
I am closing this issue as I found it is invalid.

[2017-01-20 06:46] #111 closed, assigned to nobody

[2017-01-25 06:24] RajibBiswasTibco opened #112 "Logs not shown in Kibana"
I ran the following command in DockerToolbox (Windows):
docker run -d -p 9292:9292 -p 9200:9200 pblittle/docker-logstash
(so I am using the default conf file)

But after that when I run some other containers in DockerToolbox, I don't see any logs in Kibaba at:
http://192.168.99.100:9292/index.html#/dashboard/file/logstash.json
I also checked following link, it is also empty ( {} ):
http://192.168.

[2017-02-07 06:14] RajibBiswasTibco commented on #112
Hi @pblittle , Any update on this?

[2017-02-08 18:55] pblittle commented on #112
@RajibBiswasTibco I'm sorry for the delay. I'll take a look at your question this evening and will get back to you. Thanks for your patience.

[2017-02-09 03:27] pblittle commented on #112
@RajibBiswasTibco, are your containers using a Docker logging driver (`--log-driver`) to ship their logs to the logstash container? It sounds like that configuration might be missing.

https://docs.docker.com/engine/admin/logging/overview

Please let me know if you are already using a logging driver and think the issue is on my end.

[2017-05-09 23:10] therealgambo commented on #88
I was having this same issue, turned out to be a miss configuration of kibana trying to connect via http, but elasticsearch was being provided over https.

[2017-05-09 23:35] pblittle commented on #88
@therealgambo thanks for the update. Do you see a bug in my documentation?

[2021-01-25 02:19] #48 closed

[2021-01-25 02:19] #50 closed

[2021-01-25 02:19] #65 closed

[2021-01-25 02:19] #88 closed

[2021-01-25 02:19] #96 closed

[2021-01-25 02:19] #97 closed

[2021-01-25 02:19] #109 closed, assigned to pblittle

[2021-01-25 02:19] #112 closed, assigned to pblittle